<div class="modal fade" id="new-realty" tabindex="-1" role="dialog" aria-labelledby="nr-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for [:admin, @realty] do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="nr-title">Cadastrar Novo Imóvel</h4>
        </div>

        <div class="modal-body">
          <p>Comece informando a localização do Imóvel.</p>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <%= f.label :country_id %>
                <%= f.collection_select(
                  :country_id, @realty.locations[:countries], :id, :name, {}, {class: 'form-control'}) %>
                <small class="help-block">Ao selecionar um Estado, a lista de Cidades será atualizada.</small>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <%= f.label :city_id %>
                <%= f.collection_select(
                  :city_id, @realty.locations[:cities], :id, :name, {}, {class: 'form-control'}) %>
                <small class="help-block">A lista de Cidades está em ordem alfabética.</small>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Avançar...</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
