<h1>Editar Imóvel</h1>
<p>Aqui você pode preencher a localização, dados básicos, detalhes e adicionar fotos ao imóvel.</p>

<div class="row">
  <div class="col-xs-12 col-md-9 col-lg-8">
    <%= form_for [:admin, @realty] do |f| %>
      <%= def resource; @realty; end; devise_error_messages! %>

      <fieldset>
        <legend>Localização</legend>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <%= f.label :country_id %>
              <%= f.collection_select(:country_id, @realty.locations[:countries], :id, :name, {}, {class: 'form-control'}) %>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <%= f.label :city_id %>
              <%= f.collection_select(:city_id, @realty.locations[:cities], :id, :name, {}, {class: 'form-control'}) %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <%= f.label :neighborhood %>
              <%= f.text_field :neighborhood, class: 'form-control', autofocus: true %>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <%= f.label :street %>
              <%= f.text_field :street, class: 'form-control' %>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Dados Básicos</legend>

        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <%= f.label :business_kind %>
              <%= f.select(:business_kind, Realty::BUSINESS_KIND.collect do |bk|
                [t("activerecord.collections.realty.business_kind.#{bk}"), bk]
              end, {}, {class: 'form-control'}) %>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <%= f.label :realty_kind %>
              <%= f.select(:realty_kind, Realty::REALTY_KIND.collect do |rk|
                [t("activerecord.collections.realty.realty_kind.#{rk}"), rk]
              end, {}, {class: 'form-control'}) %>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <%= f.label :reference %>
              <%= f.text_field :reference, class: 'form-control' %>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Mais Detalhes</legend>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <%= f.label :rooms %>
                  <%= f.text_field :rooms, class: 'form-control integer' %>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <%= f.label :bathrooms %>
                  <%= f.text_field :bathrooms, class: 'form-control integer' %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <%= f.label :parking_spaces %>
                  <%= f.text_field :parking_spaces, class: 'form-control integer' %>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <%= f.label :size %>

                  <div class="input-group">
                    <%= f.text_field :size, class: 'form-control integer right' %>
                    <span class="input-group-addon">m²</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <%= f.label :price %>

                  <div class="input-group">
                    <span class="input-group-addon">R$</span>
                    <%= f.text_field :price, class: 'form-control integer right' %>
                    <span class="input-group-addon">,00</span>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <%= f.label :taxes %>

                  <div class="input-group">
                    <span class="input-group-addon">R$</span>
                    <%= f.text_field :taxes, class: 'form-control integer right' %>
                    <span class="input-group-addon">,00</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <%= f.label :description %>
              <%= f.text_area :description, class: 'form-control' %>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset class="photos">
        <legend>Fotos</legend>

        <div class="row">
          <div class="col-xs-12 col-md-4">
            <p>Para adicionar as fotos do Imóvel, clique no botão abaixo e selecione-as de seu computador ou galeria.</p>

            <div class="btn btn-primary fileinput-button">
              <span>Selecionar Fotos...</span>
              <input id="photos-upload" type="file" name="photo[]" data-url="photos" accept="image/*" multiple>
            </div>
          </div>

          <div class="col-xs-12 col-md-8 photos-container">
            <% if @realty.photos.any? %>
              <% @realty.photos.each do |photo| %>
                <%= image_tag photo.file.admin.thumb.url, alt: 'Foto', class: 'img-thumbnail gallery', data: {:'mfp-src' => photo.file.admin.normal.url, :'photo-id' => photo.id} %>
              <% end %>
            <% else %>
              <p class="alert alert-warning center">Ao adicionar as fotos, elas aparecerão aqui.</p>
            <% end %>
          </div>
        </div>
      </fieldset>

      <div class="row">
        <div class="col-xs-12">
          <fieldset>
            <legend>Publicar no Site</legend>

            <p>Ao publicar o Imóvel, ele ficará visível no seu Site. Para mantê-lo apenas cadastrado no Painel de Controle e sem aparecer no Site, desmarque a caixa de seleção abaixo.</p>

            <div class="checkbox">
              <label><%= f.check_box :published, value: true %>Publicar Imóvel no Site</label>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <fieldset>
            <legend>Finalizar</legend>

            <p>Para concluir o preenchimento dos dados do Imóvel, basta clicar no botão abaixo e todas as informações estarão salvas e prontas para serem exibidas no Site assim que forem publicadas.</p>

            <%= f.submit 'Concluir Edição', class: 'btn btn-lg btn-primary btn-block' %>
          </fieldset>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-3 col-lg-4 hidden-xs hidden-sm">
    <h4>Veja Algumas Dicas</h4>

    <p>Localização</p>
    <small class="help-block">É interessante o preenchimento dos campos Bairro e Logradouro para que o cliente tenha a oportunidade de procurar mais sobre as proximidades. Contudo, não é recomendado dispor do endereço completo do Imóvel por questões de segurança.</small>

    <p>Código do Imóvel</p>
    <small class="help-block">Opcional. Apenas uma referência interna para fácil organização.</small>

    <p>Valor e Outras Taxas</p>
    <small class="help-block">O campo Valor serve tanto para quantias de aluguel mensal quanto de vendas. Use o campo Outras Taxas para especificar despesas como Condomínio, IPTU e etc.</small>

    <p>Descrição do Imóvel</p>
    <small class="help-block">Seja bem detalhista aqui. Mesmo havendo campos para informações específicas, é importante repetí-las na descrição para que os sites de busca (como o Google) consigam listar seus imóveis com maior eficiência.</small>

    <p>Fotos</p>
    <small class="help-block">Escolha fotos com uma boa qualidade, mas tome cuidado com fotos em alta resolução, pois podem acarretar em um tempo de carregamento maior e também consumir excessivamente sua franquia de dados caso esteja utilizando uma conexão móvel como a 3G.</small>
  </div>
</div>
