<%= render 'new' %>

<% if @realties.any? %>
  <h1>
    Imóveis
    <button type="button" class="btn btn-sm btn-primary btn-new" data-toggle="modal" data-target="#new-realty">
      <%= glyph(:plus) %> Novo Imóvel
    </button>
  </h1>

  <p>Aqui você encontra todos os imóveis cadastrados e pode gerenciá-los com facilidade.</p>

  <div class="row realties">
    <% @realties.each do |realty| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="realty" style="background-image: url(<%= cover_path_for(realty, :admin_cover) %>)">
          <% if realty.reference.present? %>
            <span class="label label-info reference"><%= realty.reference %></span>
          <% end %>

          <% if realty.published? %>
            <span class="label label-success">Publicado</span>
          <% elsif realty.deactivated? %>
            <span class="label label-default">Desativado</span>
          <% else %>
            <span class="label label-info">Rascunho</span>
          <% end %>

          <% if realty.cover_url(:admin_cover).blank? %>
            <span class="label label-danger">Sem Fotos</span>
          <% end %>

          <div>
            <div class="btn-group pull-right">
              <%= link_to 'Editar', edit_admin_realty_path(realty), class: 'btn btn-xs btn-primary' %>

              <% unless realty.deactivated? %>
                <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Alternar Menu</span>
                </button>

                <ul class="dropdown-menu" role="menu">
                  <% unless realty.published? %>
                    <li>
                      <%= link_to 'Publicar Imóvel', admin_realty_publish_path(realty), data: {method: :put, confirm: 'Tem certeza de que deseja publicar este Imóvel? Ele irá aparecer no seu Site imediatamente.'} %>
                    </li>
                  <% end %>

                  <li>
                    <%= link_to 'Desativar Imóvel', admin_realty_deactivate_path(realty), data: {method: :put, confirm: 'Tem certeza de que deseja desativar este Imóvel? Ele não irá mais aparecer no seu Site.'} %>
                  </li>
                </ul>
              <% end %>
            </div>

            <% if realty.kind.present? %>
              <p><%= realty.kind %></p>
            <% end %>

            <p><%= realty.location %></p>

            <% if realty.price.present? %>
              <p><%= to_currency(realty.price) %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="jumbotron">
    <h1>Seja bem vindo ao <b>Painel de Controle</b> do seu site.</h1>

    <p>Para começar a cadastrar sua coleção de imóveis, clique no botão abaixo e siga as instruções das telas que se seguem. Se você tiver alguma dúvida, não hesite em entrar em contato.</p>

    <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#new-realty">
      <%= glyph(:plus) %> Novo Imóvel
    </button>
  </div>
<% end %>
